<!-- <div class="anime-list">
    <div *ngFor="let anime of animes"><app-anime-card [anime]="anime"></app-anime-card></div>
</div> -->
<div class="anime-list">
<mat-grid-list cols="5" rowHeight="400px">
    <mat-grid-tile
      *ngFor="let anime of animes"
      colspan="1"
      rowspan="1">
      
      <app-anime-card [anime]="anime"></app-anime-card>
      <!-- <mat-grid-tile-header>Animes</mat-grid-tile-header>
      <mat-grid-tile-footer>Animes</mat-grid-tile-footer> -->
  </mat-grid-tile>
</mat-grid-list>
</div>