.admin-anime-form{
    display: flex;
    justify-content: center;
    padding: 5%;
}
.admin-anime-form-card{
    max-width: 500px;
}
.admin-form-field{
    width: 100%;
}
.admin-anime-add-button{
    width: 100%;
}