<ng-container *ngIf="(anime)">
<div fxLayout="row" fxLayoutAlign="space-evenly center" class="h-100" fxlayoutgap="24px">
<mat-card class="example-card" fxLayout="column" fxLayoutAlign="center center">
  <mat-card-header>
    <mat-card-title>{{ anime.name }}</mat-card-title>
    <mat-card-subtitle>{{ anime.title }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/goku-256.png" alt="Goku" class=""/>
  <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxlayoutgap="24px">
    <p>
      {{ anime.description }}
    </p>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="center center" fxlayoutgap="24px">
    <button mat-fab color="primary" aria-label="Example icon button with a bookmark icon" (click)="onBookmark()">
        <mat-icon>bookmark</mat-icon>
    </button>
    <button mat-fab color="warn" aria-label="Example icon button with a favorite icon" (click)="onFavourite()">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="onWatch()">Watch</button>
  </mat-card-actions>
</mat-card>
<div class="h-100" fxLayout="column" fxLayoutAlign="space-evenly center" fxlayoutgap="24px">
<app-add-review [anime]="anime" (animeUpdate)="onAddReview($event)"></app-add-review>
<ng-container *ngIf="(anime.reviews && anime.reviews.length>0)">
<app-reviews [anime]="anime"></app-reviews>
</ng-container>
</div>
</div>
</ng-container>